{% extends 'base.html' %}

{% block title %}Landing Page{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to DOT Takeout</h1>
        <p class="lead">
            
            Dot Takeout is the ultimate tax reporting tool for the Polkadot ecosystem. By aggregating data across all Polkadot chains, Dot Takeout provides users with a comprehensive, automated report of all transactions and blocks where their addresses have appeared. Instead of manually tracking accounts accross different Polkadot parachains and on different indexers, Dot Takeout is a purpose built tool that provides you all the data for your accounts in one place.

        </p>

        <img src="{{ url_for('static', filename='assets/dottakeout.png') }}" style="width: 50%" class="rounded mx-auto d-block">
    </div>
{% endblock %}